<body>
    <div class="slider-container">
        <div class="slide-content">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="\assets\images\T-1.jpg" alt="Trainer Misssing" class="card-img">
                        </div>
                            </div>

                            <div class="card-content">
                            <h2 class="name">Mufeed</h2>
                            <p class="descrption">Reborn Manager</p>

                            <button class="button">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>