<body>
  <div class="container-fluid">
    <div class="row">
      <div class="column">
        <img src= "\assets\images\Hanuman Ji.jpg"/>
        <img src="\assets\images\Dumble.jpg" />
        <img src="\assets\images\With T.jpg" />
        <img src="\assets\images\Steam Mirror.jpg" />
        <img src="\assets\images\Bi Mirror.jpg"/>
        <img src="\assets\images\reborn-gym-kalamboli-navi-mumbai-gyms-fwcspz2ypw.jpg"/>
        
      </div>
      <div class="column">
        <img src="\assets\images\ABS (1).jpeg">
        <img src="\assets\images\Mirror Nerve.jpg">
        <img src="\assets\images\Back.jpg">
        <img src="\assets\images\Bench Fan.jpg">
        <img src="\assets\images\Ball Self.jpg">
        <img src="\assets\images\Ch. Shivaji Maharaj.jpg">
      </div>
      <div class="column">
        <img src="\assets\images\Black.jpg"/>
        <img src="\assets\images\15Aug.jpg"/>
        <img src="\assets\images\Leg.jpg">
        <img src="\assets\images\With S.jpeg">
        <img src="\assets\images\Squat Mirror.jpg">
        <img src="\assets\images\Chest Day.jpg">
        <img src="\assets\images\reborn2.jpg">
      </div>
    </div>
  </div>
</body>
