<body>
    <div class="navigation">

        <ul>
            <li class="list active">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="home"></ion-icon>
                    </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="barbell"></ion-icon>
                    </span>
                    <span class="text">Trainers</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="bicycle"></ion-icon>
                    </span>
                    <span class="text">Classes</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="pulse"></ion-icon>
                    </span>
                    <span class="text">Services</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="newspaper"></ion-icon>
                    </span><span class="text">News</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="watch"></ion-icon>
                    </span><span class="text">Schedules</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="call"></ion-icon>
                    </span><span class="text">Contact</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="shield-half"></ion-icon>
                    </span>
                    <span class="text">About</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="people-circle"></ion-icon>
                    </span>
                    <span class="text">Member</span>
                </a>
            </li>
        <div class="indicator"></div>
        </ul>
    </div>
    <!-- <script>
        const list = document.querySelectorAll('.list');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item)=>
        item.addEventListener('click',activeLink));
    </script> -->
</body>